<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- injector:css -->
    <link rel='stylesheet' href='../components/bootstrap/dist/css/bootstrap.css?v=8009'>
    <link rel='stylesheet' href='../src/css/style.css?v=9773'>
    <link rel='stylesheet' href='../src/js/html5player/html5player.css?v=7254'>
    <!-- endinjector -->

    <!-- injector:js -->
    <script src='../components/jquery/dist/jquery.js?v=6745'></script>
    <script src='../components/angular/angular.js?v=2438'></script>
    <script src='../components/angular-ui-router/release/angular-ui-router.js?v=5272'></script>
    <script src='../src/js/app.module.js?v=9716'></script>
    <script src='../src/js/html5player/html5player.module.js?v=8456'></script>
    <script src='../src/js/youtube/youtube.module.js?v=6429'></script>
    <script src='../src/js/html5player/html5player.srv.js?v=9959'></script>
    <script src='../src/js/html5player/html5player.constants.js?v=6093'></script>
    <script src='../src/js/html5player/html5player.drv.js?v=3796'></script>
    <script src='../src/js/youtube/youtube.drv.js?v=4345'></script>
    <script src='../src/js/html5player/html5player.ctrl.js?v=7047'></script>
    <script src='../src/js/youtube/youtube.ctrl.js?v=4640'></script>
    <script src='../src/js/ng-template.js?v=4232'></script>
    <script src='../src/js/app.module.config.js?v=1466'></script>
    <script src='../src/js/html5player/html5player.module.config.js?v=3706'></script>
    <script src='../src/js/app.module.bootstrap.js?v=9254'></script>
    <!-- endinjector -->

</head>
<body>
<!--
<div ng-controller="YouTubeController as YtCtrl">

    <youtube width="{{YtCtrl.yt.width}}" height="{{YtCtrl.yt.height}}" videoid="{{YtCtrl.yt.videoid}}" autoplay="{{YtCtrl.yt.autoplay}}"></youtube>
    <br/>

    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.PLAY)">Send Play</button>
    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.PAUSE)">Send Pause</button>
    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.STOP)">Send Stop</button>

</div>
-->

<div ng-controller="Html5PlayerController as AudioCtrl">

    <button ng-click="AudioCtrl.changePath()">change path</button>

    <div gt-player path="{{AudioCtrl.player.path}}" tracker='true' isolate="1" class="gt-html5player"></div>
    <div gt-player path="{{AudioCtrl.player.path}}" tracker='true' isolate="1" class="gt-html5player"></div>

    <div gt-player path="{{AudioCtrl.player.path}}" tracker='false' class="bottom gt-html5player"></div>
    <div gt-player path="{{AudioCtrl.player.path}}" tracker='false' class="bottom gt-html5player"></div>
    <div gt-player path="{{AudioCtrl.player.path}}" tracker='false' class="bottom gt-html5player"></div>
    <div gt-player path="{{AudioCtrl.player.path}}" tracker='false' class="bottom gt-html5player"></div>

</div>
</body>
</html>