<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- injector:css -->
    <link rel='stylesheet' href='../components/bootstrap/dist/css/bootstrap.css?v=1378'>
    <!-- endinjector -->

    <!-- injector:js -->
    <script src='../components/angular/angular.js?v=5069'></script>
    <script src='../components/angular-ui-router/release/angular-ui-router.js?v=7242'></script>
    <script src='../src/js/app.module.js?v=8244'></script>
    <script src='../src/js/html5player/html5player.module.js?v=3292'></script>
    <script src='../src/js/youtube/youtube.module.js?v=1643'></script>
    <script src='../src/js/html5player/html5player.srv.js?v=4104'></script>
    <script src='../src/js/html5player/html5player.drv.js?v=2269'></script>
    <script src='../src/js/youtube/youtube.drv.js?v=7262'></script>
    <script src='../src/js/html5player/html5player.ctrl.js?v=4944'></script>
    <script src='../src/js/youtube/youtube.ctrl.js?v=4766'></script>
    <script src='../src/js/ng-template.js?v=3483'></script>
    <script src='../src/js/app.module.config.js?v=7979'></script>
    <script src='../src/js/html5player/html5player.module.config.js?v=9277'></script>
    <script src='../src/js/app.module.bootstrap.js?v=1389'></script>
    <!-- endinjector -->

</head>
<body>
<!--
<div ng-controller="YouTubeController as YtCtrl">

    <youtube width="{{YtCtrl.yt.width}}" height="{{YtCtrl.yt.height}}" videoid="{{YtCtrl.yt.videoid}}" autoplay="{{YtCtrl.yt.autoplay}}"></youtube>
    <br/>

    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.PLAY)">Send Play</button>
    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.PAUSE)">Send Pause</button>
    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.STOP)">Send Stop</button>

</div>
-->

<div ng-controller="Html5PlayerController">

    <div gt-player></div>

</div>
</body>
</html>