<!DOCTYPE html>
<html>
<head>
    <title></title>

    <!-- injector:css -->
    <link rel='stylesheet' href='../components/bootstrap/dist/css/bootstrap.css?v=7677'>
    <link rel='stylesheet' href='../src/css/style.css?v=7393'>
    <link rel='stylesheet' href='../src/js/html5player/html5player.css?v=7436'>
    <!-- endinjector -->

    <!-- injector:js -->
    <script src='../components/jquery/dist/jquery.js?v=8322'></script>
    <script src='../components/angular/angular.js?v=4989'></script>
    <script src='../components/angular-ui-router/release/angular-ui-router.js?v=7860'></script>
    <script src='../src/js/app.module.js?v=3140'></script>
    <script src='../src/js/html5player/html5player.module.js?v=9150'></script>
    <script src='../src/js/youtube/youtube.module.js?v=7661'></script>
    <script src='../src/js/html5player/html5player.srv.js?v=4762'></script>
    <script src='../src/js/html5player/html5player.constants.js?v=2238'></script>
    <script src='../src/js/html5player/html5player.drv.js?v=4220'></script>
    <script src='../src/js/youtube/youtube.drv.js?v=6966'></script>
    <script src='../src/js/html5player/html5player.ctrl.js?v=1370'></script>
    <script src='../src/js/youtube/youtube.ctrl.js?v=5805'></script>
    <script src='../src/js/ng-template.js?v=3361'></script>
    <script src='../src/js/app.module.config.js?v=3212'></script>
    <script src='../src/js/html5player/html5player.module.config.js?v=3218'></script>
    <script src='../src/js/app.module.bootstrap.js?v=7634'></script>
    <!-- endinjector -->

</head>
<body>
<!--
<div ng-controller="YouTubeController as YtCtrl">

    <youtube width="{{YtCtrl.yt.width}}" height="{{YtCtrl.yt.height}}" videoid="{{YtCtrl.yt.videoid}}" autoplay="{{YtCtrl.yt.autoplay}}"></youtube>
    <br/>

    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.PLAY)">Send Play</button>
    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.PAUSE)">Send Pause</button>
    <button ng-click="YtCtrl.sendControlEvent(YtCtrl.YT_events.STOP)">Send Stop</button>

</div>
-->

<div ng-controller="Html5PlayerController as AudioCtrl">

    <button ng-click="AudioCtrl.changePath()">change path</button>

    <div gt-player path="{{AudioCtrl.player.path}}" tracker='true' isolate="1" class="gt-html5player"></div>
    <div gt-player path="{{AudioCtrl.player.path}}" tracker='true' isolate="1" class="gt-html5player"></div>

    <div gt-player path="{{AudioCtrl.player.path}}" tracker='false' class="bottom gt-html5player"></div>
    <div gt-player path="{{AudioCtrl.player.path}}" tracker='false' class="bottom gt-html5player"></div>
    <div gt-player path="{{AudioCtrl.player.path}}" tracker='false' class="bottom gt-html5player"></div>
    <div gt-player path="{{AudioCtrl.player.path}}" tracker='false' class="bottom gt-html5player"></div>

</div>
</body>
</html>